<div class="register-wrapper">

  <h1>register here</h1>
  <h2>fields with star (*) are required</h2>

  <input type="text" name="username" placeholder="username*" [(ngModel)]="media.username">
  <input type="password" name="password" placeholder="password*" [(ngModel)]="media.password">
  <input type="email" name="email" placeholder="email*" [(ngModel)]="media.email">
  <input type="text" name="fullName" placeholder="full name" [(ngModel)]="media.fullName">
  <br>
  <button (click)="media.register()">Register</button>
</div>